/* LK STYLES */

/* OVERALL */

@font-face {
    font-family: 'larsthin';
    src: url('fonts/lars-thin-webfont.woff2') format('woff2'),
         url('fonts/lars-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	  margin: 0;
	  padding: 0;
    font-size: 2vw;
    line-height: 2.7vw;
    font-family: 'larsthin';
    font-weight: normal;
}

a{
    cursor: pointer !important;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

menu a:visited {
  /* color: #7925c7; */
  color: black;
}

a:hover {
    color: blue !important;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

html, body{
  width: 100vw;
  height: 100vh;
}

body{
    font-family: sans-serif;
    background-color: #fafafa;
}

canvas[resize] {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: transparent;
    top: 0px;
    z-index: 9;
}

.canvasClass{
  position: fixed;
}

.canvasClassProject{
  position: absolute;
  background-color: yellow;
}

menu{
    padding-left: 1vw;
    padding-right: 1vw;
    width: 98vw;
    height: calc(3.5vw);
    background-color: #fafafa;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 12;
}

.cross{
  display: none;
}

/* BUSINESS CARD */

#businesscard{
  width: 25vw;
  height: 15vw;
  background-color: white;
  position: absolute;
  top: -50vh;
  left: calc( 50% - 125px);
  cursor: pointer;
  z-index: 11;
  padding: 0.5vw;
  overflow: hidden;
  pointer-events: none;
}

#businesscardfake{
  width: 25vw;
  height: 15vw;
  background-color: transparent;
  position: absolute;
  top: -50vh;
  cursor: pointer;
  z-index: 10;
  padding: 0.5vw;
  overflow: hidden;
}

.blue{
  color: blue;
}

.businessinner, .businessinner *{
  display: inline-block;
  line-height: 2vw;
  margin-bottom: 0.25vw;
}

.businessinner *{
  margin-right: 1.7vw;
}

.businessinner{
  display: block;
}

.businessinner div{
  display: inline-block;
  width: 150vw;
  overflow: hidden;
}

.b2{
  bottom: 0;
  position: absolute;
}

/* .b1{
  margin-left: -26vw;
}

.a2{
  margin-left: -52vw;
}

.b2{
  margin-left: -78vw;
}

.a3{
  margin-left: -100vw;
}

.b3{
  margin-left: -125vw;
} */

.front{
  display: block;
}
.back{
  display: none;
}

/* NAVIGATION */

.navitem{
    width: 15.333vw;
    line-height: 3.7vw;
    display: inline-block;
    margin-left: 1vw;
    float: left;
}

.language, .language > a{
    line-height: 3.7vw;
    width: auto;
    float: right;
}

#home_cta{
    margin: 0;
    width: 31.666vw;
}

#home_cta a{
  width: 17vw;
  display: inline-block;
}


/* FONTS */

h1, h1 a, strong{
    font-family: 'larsthin';
    display: inline;
    margin-right: 0.5vw;
}

h2, p{
    font-family: 'larsthin';
    display: inline;
}

.js-marquee > div > *, .js-marquee > *, .prevNext > *{
    line-height: 3.7vw;
    position: relative;
    z-index: 8;
}

/* PROJECT TEASER */
.barba-container{
  overflow-x: hidden;
  min-height: 100vh;
}

.teaserwrap{
    width: 100vw;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    float: left;
}

#videowrap1{
  margin-top: 3.5vw;
}

video{
  background-size: cover;
}

.special{
    width: 100vw;
    height: 3.5vw;
    background-color: blue;
    color: #f5f5f5;
    line-height: 3.7vw;
    display: inline-block;
    float: left;
}

.social{
    width: 100vw;
    height: 3.5vw;
    color: #f5f5f5;
    line-height: 3.7vw;
    display: inline-block;
    float: left;
}

.social div > div > a{
  margin-right: 2vw;
}

.social div > div > a:last-of-type{
  margin-right: 0;
}

.manifest{
  padding-bottom: 1vw !important;
}

.imprint, .specialimprint{
  display: inline-block !important;
  padding-bottom: 0.75vw !important;
  float: left;
}

.imprint p{
  display: inline-block !important;
  margin-bottom: 1vw;
}

.imprint.a p{
  margin-bottom: 1.5vw;
}

.imprint p:last-of-type{
  margin-bottom: 0;
}

.imprint_cta{
  margin-top: 0.5vw;
}

.imprint.closed, .imprint.closed p, .imprint.closed p:last-of-type{
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.imp{
  color: black;
  cursor: pointer;
  margin-right: 2vw;
  display: inline-block !important;
}

.imp:hover{
  color: blue;
}


.special2{
  margin-top: 1vw;
  margin-bottom: 2vw;
}

.special > *{
    cursor: default;
}

.mainvideo{
    width: 100vw;
    height: calc(100vh - 7vw);
    background-color: blue;
}

.teasertitle.visit{
  /* color: #7925c7; */
  color: black;
}

.teasertitle, .teasertitlework{
    width: 100vw;
    height: 3.5vw;
    overflow: hidden;
    /* background-color: #f5f5f5; */
    line-height: 3.7vw;
    position: relative;
    z-index: 8;
}

.teasertitleinner > h1, .teasertitleinner > p {
    line-height: 3.7vw;
}

.teasertitleinner, .teasertitleinner2{
    margin-left: 1vw;
    float: left;
    display: inline-block;
}

.teasertitleinner{
    margin-right: 3.5vw;
}

.break{
    background-color: black;
    color: #fafafa;
}

.break > .teasertitleinner:nth-child(-n+2){
    min-width: 25vw !important;
}

.videowrap{
    height: calc(100vh - 7vw);
    overflow: hidden;
    position: relative;
}

#bgvid{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: auto;
}

/* PROJECT CONTENT */

.open{
    padding: 1vw;
    padding-top: 0.25vw;
    height: auto;
}

.projectcontentinner.work{
  margin-top: 3.5vw;
  overflow: hidden;
}

.projectcontentinner{
    position: relative;
}

.projectcontentinner > span{
    padding-right: 1vw;
    padding-left: 1vw;
    display: block;
    margin-bottom: 1vw;
}

.projectcontentinner > .article:first-of-type{
  padding-top: 0.5vw;
}

.image{
    position: relative;
    width: 100vw;
    height: calc(100vh - 3.5vw);
    background-size: cover;
    background-position: center;
    display: block;
    overflow: hidden;
    pointer-events: none;
}

.image > div > figure > img, .image > div > figure > video{
    max-height: calc(100vh - 7vw);
    max-width: calc(100vw - 7vw);
    margin: 3.5vw;
    margin-bottom: 0;
}

.image > div > figure{
    text-align: center;
    position: relative;
    height: auto;
    width: 100vw;
    display: block;
}

.image > div > figure:last-child{
    margin-bottom: 3.5vw;
}

.imagecontent{
    margin-left: -2vw;
    width: 104vw;
    height: 100vw;;
    background-size: cover;
    background-position: center;
    display: block;
    pointer-events: none;
    overflow: hidden;
}

/* .blur{
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
} */

.imagecontent_overlay{
    position: absolute;
    top: 0px;
    width: 110vw;
    height: calc(100vh - 3.5vw);
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: transparent;
}

.aboutimagecontent{
    width: 100vw;
    height: calc(100vh - 3.5vw);
    background-size: cover;
    background-position: center;
    margin-bottom: 1vw;
}


/* PROJECT SMALL TEASER */

.smallteaser{
    width: 100vw;
    line-height: 0;
}

.workingclass > .smallteaser{
  margin-top: 3.5vw;
}

.smallteaser > .teasertitle, .smallteaser > .teasertitlework{
  display: inline-block;
  /*background-color: blue;*/
  /* color: black; */
  /*border-bottom: 1.5px solid #f5f5f5;*/
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.smallteaser > .teasertitle:hover, .smallteaser > .teasertitlework:hover{
  display: inline-block;
  background-color: #fafafa;
  color: blue;
  /*border-bottom: 1.5px solid #f5f5f5;*/
}

.smallteaserwarp{
    position: relative;
    width: 50vw;
    height: calc(30vw);
    display: inline-block;
    overflow: hidden;
    display: inline-block;
    line-height: 0;
    background-size: cover;
    background-position: center;
    float: left;
}

.smallteaserwarp > img{
    width: 50vw;
    min-height: calc(50vh - 1vw);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

/* FOOTER */

footer{
    width: 100vw;
    background-color: #fafafa;
    bottom: 0px;
    position: relative;
}

footer > .row{
    width: 31.666vw;
    display: inline-block;
    margin: 1vw;
    margin-right: 0;
}

/* ADDED CLASSES */

.noevents{
    pointer-events: none;
}

.noevents::-webkit-scrollbar {
    display: none;
}

/* ABOUT */

.container{
  display: inline-block;
  float: left;
  overflow-x: hidden;
}

.article:first-child{
    margin-top: 3.5vw;
}

.article {
    padding: 1vw;
    padding-bottom: 0.5vw;
}

.article:last-of-type {
    padding-bottom: 2vw;
}

.projectcontentinner > .teaserwrap.special{
  margin-top: 1vw;
}

.storiecontainer{
  /* margin-bottom: 1vw; */
  margin-top: 2vw;
  margin-bottom: 1vw;
  display: inline-block;
  height: calc(95.6vw / 3);
}

.scontainer{
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 1vw;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

  -webkit-transition: border-radius .5s;
  -moz-transition: border-radius .5s;
  -o-transition: border-radius .5s;
  transition: border-radius .5s;

  display: none;
}

.scontainer video, .scontainer img{
  display: block;
  width: 100% !important;
}

.scontainer:hover{
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 700px) {
  *{
      font-size: 25px;
      line-height: 32px;
  }

  menu, .teasertitle, .teasertitlework, .js-marquee > div > *, .js-marquee > *, .prevNext > *, .navitem, .special{
      height: 40px;
      line-height: 43px;
  }

  main{
      height: calc(100vh - 40px);
      top: 40px;
      -webkit-transition: top .25s ease-out;
      -moz-transition: top .25s ease-out;
      -o-transition: top .25s ease-out;
      transition: top .25s ease-out;
  }

  .teasertitleinner > h1, .teasertitleinner > p {
      line-height: 40px;
  }

  #home_cta{
    width: 80vw;
  }

  .article:last-of-type {
    padding-bottom: 40px;
  }

  .article {
      padding: 1vw;
  }

  .navitem{
    margin-left: 0;
  }

  .navitem, .menu > h1{
    padding-left: 1vw;
    display: block;
    width: 100vw;
  }

  menu{
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: height .25s ease-out;
    -moz-transition: height .25s ease-out;
    -o-transition: height .25s ease-out;
    transition: height .25s ease-out;
  }

  .cross{
    display: block;
    height: 18px;
    right: 1vw;
    top: 11px;
    position: fixed;
    z-index: 11;
  }

  #home_cta{
    width: 80vw;
  }

  .navitem.language, #canvas{
    display: none;
  }

  .navitem > a{
    display: inline-block;
    width: 100%;
  }

  .menuheight{
    height: 165px;
  }
  .maintop{
    top: 165px;
  }



  .image, .imagecontent_overlay {
    position: relative;
    height: auto !important;
  }

  .image > figure{
    position: relative;
  }

  figure{
    height: auto !important
  }

  .imagecontent{
    opacity: 0;
    display: none;
  }

 .image > div > figure > img{
    max-height: auto !important;
    max-width: calc(100vw - 2vw);
    margin: 0vw !important;
    margin-bottom: 0;
  }

 .image.mob{
    display: inline-block;
    float: left;
    height: 220px !important;
  }

  .image > div > figure:last-child{
    margin-bottom: 0;
  }

  main{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

}
